/** track@alpha:{"version":"0.3.11","build":"2016-01-24 01:04:37","hash":""} */
@import "./variable.scss";
/* base
----------------------------------*/
@import "./base/reset.scss";
@import "./base/animate.scss";
@import "./base/common.scss";
@import "./base/grid.scss";
@import "./base/fastclick.scss";
/* ui
----------------------------------*/
// @import "./ui/font-awesome.scss";
@import "./ui/themify.scss";

@import "./ui/icon.scss";
@import "./ui/bars.scss";
@import "./ui/controls.scss";
@import "./ui/buttons.scss";
@import "./ui/table.scss";
@import "./ui/formline.scss";

/* custom
----------------------------------*/
body{
}
.main-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: #fff;
    @include transition(.3s);
}
.bar-nav[data-show] {
    & ~ .main-wrapper,
    & ~ .fullscreen{
        top: $bar-nav-height;
    }
}
